@font-face {
  font-family: "inter-l";
  font-weight: 300;
  src: url("../../fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "inter-r";
  font-weight: 400;
  src: url("../../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "inter-sb";
  font-weight: 600;
  src: url("../../fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "inter-b";
  font-weight: 700;
  src: url("../../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "jose-l";
  font-weight: 300;
  src: url("../../fonts/JosefinSans-Light.woff") format("woff");
}

@font-face {
  font-family: "jose-r";
  font-weight: 400;
  src: url("../../fonts/JosefinSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "jose-sb";
  font-weight: 600;
  src: url("../../fonts/JosefinSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "jose-b";
  font-weight: 700;
  src: url("../../fonts/JosefinSans-Bold.woff") format("woff");
}

// declare a class which applies it

.inter-l {
  font-family: "inter-l";
}

.inter-r {
  font-family: "inter-r";
}

.inter-sb {
  font-family: "inter-sb";
}

.inter-b {
  font-family: "inter-b";
}

.jose-l {
  font-family: "jose-l";
}

.jose-r {
  font-family: "jose-r";
}

.jose-sb {
  font-family: "jose-sb";
}

.jose-b {
  font-family: "jose-b";
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

.text-base {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 20px;
}

.text-2xl {
  font-size: 24px;
}

.text-3xl {
  font-size: 30px;
}

.text-4xl {
  font-size: 36px;
}

.text-5xl {
  font-size: 48px;
}

text-6xl {
  font-size: 60px;
}

.text-7xl {
  font-size: 72px;
}

text-8xl {
  font-size: 96px;
}

.text-9xl {
  font-size: 128px;
}

//global styles

//Landing Page
.headline-tag {
  position: absolute;
  top: 224px;
  left: 216px;
  max-width: 592px;
}

.search-landing {
  padding: 42px 104px;
  position: absolute;
  width: 1008px;
  height: 153px;
  left: 17%;
  top: 520px;
  background: #fafafa;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.category-landing {
  margin-top: 176px;
}

.category-image {
  width: 383px;
  height: 516px;
}

.feature-landing {
  margin-top: 100px;
}

.feature-card {
  width: 383.48px;
  height: 516px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 32px 48px;
}

.feature-image {
  height: 320px;
  width: 290px;
}
