@font-face {
  font-family: "inter-l";
  font-weight: 300;
  src: url("../../fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "inter-r";
  font-weight: 400;
  src: url("../../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "inter-sb";
  font-weight: 600;
  src: url("../../fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "inter-b";
  font-weight: 700;
  src: url("../../fonts/Inter-Bold.woff") format("woff");
}

// declare a class which applies it

.inter-l {
  font-family: 'inter-l';
}

.inter-r {
  font-family: 'inter-r';
}

.inter-b {
  font-family: 'inter-b';
}

.inter-xs {
  font-size: 12px;
}

.inter-sm {
  font-size: 14px;
}

.inter-base {
  font-size: 16px;
}

.inter-lg {
  font-size: 18px;
}

.inter-xl {
  font-size: 20px;
}

.inter-2xl {
  font-size: 24px;
}

.inter-3xl {
  font-size: 30px;
}

.inter-4xl {
  font-size: 36px;
}

.inter-5xl {
  font-size: 48px;
}

inter-6xl {
  font-size: 60px;
}

.inter-7xl {
  font-size: 72px;
}

inter-8xl {
  font-size: 96px;
}

.inter-9xl {
  font-size: 128px;
}
